{% extends "base.html" %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/home.css">

{% endblock %}


{% block content %}
<!-- {% for msg in messages %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Hey !</strong> {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %} -->

<div class="hero-section">
  <div class="hero-text">
    <h2>Discover the Essence of Indian Art</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio illo minus pariatur ex corporis? Ipsam sunt eius explicabo doloremque dolorum?</p>
    <button><a href="#">Become a artist ></a></button>
  </div>
  <div class="hero-img">
      <div class="hero-img-1">
          <a href="#">explore our collection →</a>
          <img src="/static/images/painting1.jpg" alt="">
      </div>

      <div class="hero-img-2">
          <img src="/static/images/painting2.jpg" alt="">
      </div>

      <div class="hero-img-3">
          <img src="/static/images/painting5.jpg" alt="">
          <p>Lorem ipsum dolor sitamet consectetur adipisicing elit. Doloribus corporis nulla magnam architecto, et aliquam! Omnis error molestias ea laborum.</p>
      </div>
  </div>
</div>

<div class="card-section">
  <div class="card-1">

      <div class="gradient-1">
          <h2>Best Sellings</h2>
          <a href="#">view product <b>></b></a>
      </div>

  </div>
  <div class="card-2">

      <div class="gradient-2">
          <h2>New collections </h2>
          
          <button><a href="#">shop now</a></button>
      </div>

  </div>
</div>






{% endblock %}